.example-card {
  max-width: 400px;
}

img {
    border-radius: 50%;
    float: left;
    height: 50px;
    width: 50px;
    vertical-align:bottom;
  }

  p {
    line-height: 1  ;
    white-space: nowrap;
    
  }