<div class="container"
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutAlign.gt-md="space-around center"
      fxLayoutGap="10px" 
      fxLayoutGap.xs="0" 
      *ngIf="dish">
      
      <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">

        <div fxFlex >
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL+dish.image}}" alt={{dish.name}}>
            <mat-card-content>
              <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
              <button mat-button (click) = "goBack()">BACK</button>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
              <span class="flex-spacer"></span>
              <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      
      <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">

        <h3> Comments </h3>


          <mat-list>
            <mat-list-item  *ngFor="let comment of dish.comments">
              <h3 matLine>{{comment.comment}} </h3>
              <p matLine>{{comment.rating}} Stars </p>
              <p matLine>-- {{comment.author}} {{comment.date | date}}</p>
            </mat-list-item>
            

            <mat-list-item >
              <h3 matLine> {{commentForm.value.comment}}</h3>
              <p matLine>{{commentForm.value.rating}} <span *ngIf = "commentForm.get('author').touched">Stars</span>  </p>
              <p matLine> <span *ngIf = "commentForm.get('author').touched">--</span>{{commentForm.value.author}} <span *ngIf = "commentForm.get('author').touched">{{date | date}}</span>  </p>
            </mat-list-item>

            
            <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
              <p>
                <mat-form-field class="half-width">
                  <input matInput formControlName="author" placeholder="Name" type="text" required>
                  <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-slider formControlName="rating" thumbLabel min="1" max="5" value='5'></mat-slider>
              <p>
                <mat-form-field class="full-width">
                  <textarea matInput formControlName="comment" placeholder="Your Comment" rows=2></textarea>
                  <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                </mat-form-field>
              </p>
              <button type="submit" mat-button class="background-primary text-floral-white" [disabled] = "commentForm.invalid">Submit</button>
            </form>
          </mat-list>
          

          
          
      </div>
      <div [hidden]="dish || errMess">
        <h4>Loading Please Wait....</h4>
        <mat-spinner> </mat-spinner>
      </div>
      <div fxFlex *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
</div>

