/* You can add global styles to this file, and also import other style files */
//global theme
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '_variables.scss';
@import '../node_modules/font-awesome/scss/font-awesome';
//some basic resets
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    margin: 20px;
    display: flex;
}

.flex-spacer {
    flex: 1 1 auto;
}

.highlight {
    background-color: #5e0094;
    border: 1px solid #2c0045;
    z-index: 1;
    transform: scale(1.01);
}